/**
 * Fichero: estilo-club-ciclista-cella.css;
 * Autor:	David Torres Sánchez;
 * Descripción: Fichero encargado de dar el estilo que no da bootstrap por defecto. Contiene código Bootstrap bajo licencia MIT;
 * Versión: 13;
 * Fecha última modificación:	28/01/2019;
 */

/* INDEX y FOOTER COMÚN */
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

/* Formato del carrusel de fotos */
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.carrusel-1 {
  background-image: url(../img/carrusel1.jpg);
}

div.carrusel-2 {
  background-image: url(../img/carrusel2.jpg);
}

div.carrusel-3 {
  background-image: url(../img/carrusel3.jpg);
}

div.carrusel-4 {
  background-image: url(../img/carrusel4.jpg);
}

/* Margen entre Eventos */
.portfolio-item {
  margin-bottom: 30px;
}

/* Logo portada */
#logo-titulo {
  width: 42px;
  height: 42px;
}

/* Footer */ 
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
  margin: 0 7px;
  color: #fff;
  opacity: 0.85;
}

a.facebook:hover {
  background-color: #3b5ea5; /* Facebook */
}/*color de fondo:#353A40*/

a.twitter:hover {
  background-color: #00acee; /* Twitter */
}

a.email:hover {
  background-color: #DEC32C; /* Mail */
}

a.youtube:hover {
  background-color: #c4302b; /* YouTube */
}

.footer-dark .copyright {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
  opacity: 0.7
}

/* RUTAS */
.pagination {
  margin-bottom: 30px;
}

/* GALERÍA */
.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.tz-gallery .lightbox img:hover {
    transform: scale(1.06);
    box-shadow: 0 15px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;/* Esquinas inferiores */
}

.baguetteBox-button {
    background-color: transparent !important;
}

/* CONTACTAR */
.mapa {
  width:100%;
}